*{
    margin: 0;
    padding: 0;
}

.titulo{
color:black; 
font-size:50;
text-align: center;
margin-top: 75px;
}


.casillas{
    width: auto;
    height: auto;
    background-color: gray;
    margin-top: 60px;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.casillas div{
    width: 150px;
    height: 150px;
    background-color: gainsboro;
    border: 1px solid blue;
    margin: 20px;
    font-size: 95px;
    text-align: center;
    
}
section{  
    width: 1300px;
    margin:auto;
    
    
    }
